@model Vidly.Models.Customers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>
<ul>
    <li>memberShip Type: @Model.MembershipType.name</li>
    @if(@Model.BirthDate.HasValue)
    {
        <li>BirthDate: @Model.BirthDate.Value.ToString("d MMM yyyy")</li>
    }
</ul>

